<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Turmas</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-3">
	<h1>Turmas</h1>
	
	<a th:href = "@{/turmas/mostraNovaTurmaForm}" class="btn btn-primary btn-sm mb-3"> Add nova Turma</a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=cod&sortDir=' + ${reverseSortDir}}">
							Código da Turma</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=codcurso&sortDir=' + ${reverseSortDir}}">
							Código do Curso</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=codprof&sortDir=' + ${reverseSortDir}}">
							Código do Professor</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=codaluno&sortDir=' + ${reverseSortDir}}">
							Código de Aluno</a>
					</th>
					
					<th> Ações </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="turma : ${listTurmas}">
					<td th:text="${turma.cod}"></td>
					<td th:text="${turma.codcurso}"></td>
					<td th:text="${turma.codprof}"></td>
					<td th:text="${turma.codaluno}"></td>
					<td> <a th:href="@{/turmas/showFormForUpdate/{id}(id=${turma.id})}" class="btn btn-primary">Atualizar</a>
					    <a th:href="@{/turmas/deleteTurma/{id}(id=${turma.id})}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>